<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Movimiento Dinero</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
  <h1>Sistema de gestión de ingresos y gastos</h1>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Nuevo Movimiento Dinero
  </button>
    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
              <div class="modal-header">
                  <h5>Sistema de gestión de ingresos y gastos</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form th:action="@{/GuardarMovimiento}" th:object="${mov}" method="post">

                      <div class="form-group">
                        <label for="exampleInput1">ID</label>
                        <input type="number" class="form-control" aria-describedby="emailHelp" placeholder="Id">
                      </div>

                    <div class="form-group">
                      <label for="exampleInputEmail1">Concepto</label>
                        <select th:field="*{concepto}" class="form-control" id="concepto" required="required" placeholder="Concepto">
                            <option th:value=1>Ingresado </option>
                            <option th:value=2>Debitado </option>
                            <option th:value=3> Abonado </option>
                            <option th:value=4> Transferido </option>
                        </select>
                    </div>

                        <div class="form-group">
                          <label for="exampleInput1">Monto</label>
                          <input type="number" th:field="*{monto}" class="form-control" id="monto" required="required" placeholder="Monto">
                        </div>

                        <div class="form-group">
                            <label for="exampleInput1">Empleado_id</label>

                            <select th:field="*{empleado}" class="form-control" id="empleado" required="required" placeholder="Empleado">
                                <option th:each="empleado : ${emplelist}" th:text="${empleado.nombre}" th:value="${empleado.id}"></option>

                            </select>
                        </div>

                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Añadir</button>
                          <button type="button" class="btn btn-success">Eliminar</button>
                          <button type="button" class="btn btn-primary">Editar</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>        
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</html>