<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Empleado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
  <h1>Sistema de gestión de ingresos y gastos</h1>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Editar Empleado
  </button>
    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Sistema de gestión de ingresos y gastos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:object="${empleadoUpdate}" action="#" th:method="put" th:action="@{/empleado/front/update}>

                        <div class="form-group">
                            <label for="Input1">ID</label>
                            <input type="number" th:field="*{id}" class="form-control" id="id" required="required" readonly placeholder="ID">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre</label>
                            <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required="required" placeholder="Nombre">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" th:field="*{correo}" class="form-control" id="correo" required="required" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre Empresa</label>
                            <div class="col-md-6">
                                <select th:field="*{empresa}" class="form-control" id="empresa" required="required" >
                                    <option th:each="empresa : ${empresa}" th:text="${empresa.nombre}" th:value="${empresa.id}"></option>

                                </select>
                            </div>
                        </div>
                                
                        <div class="form-check" th:each="enum_roleName": ${enum_roleName}>
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" th:field=*{enum_roleName} th:text="${enum_roleName.name}" th:value="${enum_roleName.name}">
                            <label class="form-check-label" for="flexRadioDefault1">Admin</label>
                        </div>

                        <div class="form-check" th:each="enum_roleName": ${enum_roleName}>
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked th:field=*{enum_roleName} th:text="${enum_roleName.name}" th:value="${enum_roleName.name}">
                                <label class="form-check-label" for="flexRadioDefault2"> Operario </label>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
  </div>       
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</html>