<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <header >
        <!--<img class="header__img" src="" alt="login-iniciar sesión"> -->
    </header>
    <section >
        <section>
            <div class="container-md">
                <div class="abs-center text-center">
                        <h2>INICIO SESIÓN</h2>
                            <div class="form-floating mb-6">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="form-floating">
                                <label for="inputPassword5" class="form-label">Password</label>
                                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                                <div id="passwordHelpBlock" class="form-text">
                                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                </div>
                            </div>
                        <button type="button" class="btn btn-outline-secondary">Iniciar Sesión</button>
                        <div class="login__container--remember-me">
                            <label>                         
                                <input type="checkbox" name="" id="cbox1" value="checkbox">Recuérdame
                            </label>
                            <a href="//">Olvide mi contraseña</a>
                            <section class="login__container--social-media">                
                                <div><img src="./" alt="logo google inicia sesión con google"></div>
                            </section>
                            <p class="login__container--register"> No tienes ninguna cuenta <a href=""> Registrate</a></p>
                        </div>
                </div>
            </div>  

        </section>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>