<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <!-- Sidebar-->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <form th:action="@{/login}" method="POST">
        <button  class="btn btn-primary me-md-2" type="submit"> Iniciar Sesión</button>
      </form>
      <form th:action="@{/logout}" method="POST">
        <button class="btn btn-primary"type="submit"> Cerrar Sesión</button>
      </form>
    </div>

      <div class="container">
        <div class="row">
          <div class="col align-self-start">
            <a class="navbar-brand" href="#">
              <img src= "../static/img/Logo mercado electrónico .png" alt="mercado eletrónico" width="200">
            </a>
              <ul class="nav flex-column">
                <ul class="flex-sm-column-reverse ">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="movimientoDinero.html">Ingresos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="empleado.html">Empleado</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="empresa.html">Empresa</a>
                  </li>                     
                </ul>
              </ul>
                
            
          </div>
        
      
      <!-- Columnas-->  
      
        <div class="col align-self-center">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Sistema de gestión de ingresos y gastos</h5>
                <p class="card-text">Podrás ver el movimiento de tu dinero</p>
                <a href="movimientoDinero.html" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Sistema de gestión de usuarios</h5>
                <p class="card-text">Podrás getionar las actividades de los empleados</p>
                <a href="empleado.html" class="btn btn-primary">Ver</a>
              </div>
            </div>
            </div>
          </div>
          <div class="col align-self-center">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Sistema de gestión de empresas</h5>
                  <p class="card-text">Podrás gestionar las actividades de las empresas</p>
                  <a href="empresa.html" class="btn btn-primary">Ver</a>
                </div>
              </div>
              </div>
          </div>
        
      </div>
    </div>
        
        
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>